<?xml version="1.0" ?>
<launch>
  <!-- params -->
  <param name="forest_file" value="$(find leg_tracker)/config/trained_leg_detector_res=0.33.yaml" />
  <param name="scan_topic" value="/scan" />
  <param name="fixed_frame" value="laser"/>
  <param name="scan_frequency" value="10"/>  
  
  
  <!-- run detect_leg_clusters -->  
  <node pkg="leg_tracker" type="detect_leg_clusters" name="detect_leg_clusters" output="screen"/>

  <!-- run individual_leg_tracker -->
  <node pkg="leg_tracker" type="individual_leg_tracker.py" name="individual_leg_tracker" output="screen"/>
  
</launch>

